---
import FormattedDate from "@src/components/FormattedDate.astro";
import LangSelector from "@src/components/LangSelector.astro";
import Link from "@src/components/Link.astro";
import SocialLinks from "@src/components/SocialLinks.astro";
import Tags from "@src/components/Tags.astro";
import { getPostsByLang } from "@src/services/posts";
import Layout from "@src/layouts/Layout.astro";
import { useTranslations, type LangType } from "@src/i18n/utils";
import { SITE } from "@src/consts";

type Props = {
  lang: LangType;
};

const { lang } = Astro.props;
const t = useTranslations(lang);
const latestPosts = (await getPostsByLang(lang)).slice(0, 5);
---

<Layout
  title={t("site.title")}
  description={t("site.description", { firstname: SITE.authorFirstName })}
  lang={lang}
>
  <LangSelector slot="lang-selector" />
  <main>
    <section class="hero">
      <div class="hero-content">
        <h1>{t("home.hello")}</h1>
        <p>
          <Fragment
            set:html={t("site.description", {
              firstname: `<strong>${SITE.authorFirstName}</strong>`,
            })}
          />
        </p>
        <SocialLinks />
      </div>
      <div class="card-img">
        <img src="/images/mack.png" alt={SITE.author} />
      </div>
    </section>
    <hr />
    <section class="latest-posts">
      <h2>📜 {t("home.latest-post")}</h2>
      {
        latestPosts.length > 0 ? (
          <Fragment>
            <ul>
              {latestPosts.map((post) => (
                <li>
                  <Link href={post.pathname} lang={lang}>
                    {post.data.title}
                  </Link>
                  <div class="post-meta">
                    <FormattedDate date={post.data.pubDate} withEmoji />
                    <span>&#8901;</span>
                    <Tags tags={post.data.tags} />
                  </div>
                  <p>{post.data.description}</p>
                </li>
              ))}
            </ul>
            <Link href="/posts" lang={lang} class="all-posts">
              All posts →
            </Link>
          </Fragment>
        ) : (
          <div class="coming-soon">
            <strong>{t("coming.soon")}</strong>
            <p>{t("coming.soon.description")}</p>
          </div>
        )
      }
    </section>
  </main>
</Layout>
